<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997387503221-hn5tfoqo20m29ndhk8miptfubovalbsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997387503221-hn5tfoqo20m29ndhk8miptfubovalbsa</string>
	<key>API_KEY</key>
	<string>AIzaSyBXm6ZcaQNxb-IgoEXJPu1iNt7ozrl2zLY</string>
	<key>GCM_SENDER_ID</key>
	<string>997387503221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cameraocrbare</string>
	<key>PROJECT_ID</key>
	<string>edms-87bd0</string>
	<key>STORAGE_BUCKET</key>
	<string>edms-87bd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997387503221:ios:17c92edeed9b947af2da3c</string>
</dict>
</plist>